@charset "utf-8";

// ==========================================================================
// General
// ==========================================================================

@import "general/variables";
@import "general/functions";
@import "general/reset";

:root {
	@each $name, $color in $sweava-colors {
		--#{$name}: #{$color};
	}
}

// ==========================================================================
// Layout ( eg. Header, Main, Footer )
// ==========================================================================

@import "layout/header";
@import "layout/main/home";
@import "layout/main/discover";
@import "layout/main/exp-ar";
@import "layout/main/hottest";
@import "layout/main/download";
@import "layout/footer";

// ==========================================================================
// Component ( eg. Buttons, Texts )
// ==========================================================================

@import "component/typograph";
@import "component/button";
@import "component/phone-screen";

// ==========================================================================
// Theme ( eg. Dark )
// ==========================================================================

@import "theme/responsive";
