@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  font-family: "Raleway", sans-serif;
}

html {
  font-size: 62.5%;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #5956e9;
  --secondary: #fab8c3;
  --yellow: #efb60e;
  --dark: #000000;
  --gray: #868686;
  --light-gray: #c9c9c9;
  --white: #ffffff;
  --gradient: linear-gradient(54deg, #edeef6 60%, rgba(237, 238, 246, 0) 100%);
}

header {
  position: fixed;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  background: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: calc(100% - 2.4rem * 2);
  padding: 3.2rem 2.4rem;
}
header .vegie-menu {
  z-index: 201;
  background: transparent;
  border: 0;
  outline: 0;
}
header .vegie-menu .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 6px;
}
header .vegie-menu .icon::after {
  content: "";
  display: block;
  height: 2px;
  width: 22px;
  background: var(--gray);
}
header .vegie-menu .icon::before {
  content: "";
  display: block;
  height: 2px;
  width: 22px;
  background: var(--gray);
}
header nav {
  transform: translateY(-150%);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: var(--white);
  transition: 0.2s all ease-in-out;
  gap: 1.6rem;
}
header nav.opened {
  transform: translateY(0);
}
header nav a {
  color: var(--dark);
  font-size: 3.2rem;
  font-weight: bold;
}
header nav a:hover {
  color: var(--primary);
}

main #home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 10rem;
  text-align: center;
}
main #home .description {
  width: 80%;
}
main #home img {
  width: 100%;
}

main #discover {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 6.4rem;
  text-align: center;
}
main #discover .title {
  margin: 0.8rem 0;
}
main #discover .description {
  margin-bottom: 6.4rem;
  width: 80%;
}

main #exp-ar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 6.4rem;
  text-align: center;
}
main #exp-ar .title {
  margin: 0.4rem;
}
main #exp-ar .description {
  margin-bottom: 3.2rem;
  width: 80%;
}

main #hottest {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 6.4rem;
  text-align: center;
}
main #hottest .title {
  margin: 0.8rem 0;
}
main #hottest .description {
  margin-bottom: 6.4rem;
  width: 80%;
}

.title {
  font-size: 60px;
  font-weight: bold;
  color: var(--dark);
}

.subtitle {
  font-size: 24px;
  font-weight: bold;
  color: var(--primary);
}

.description {
  font-size: 24px;
  font-weight: normal;
  color: var(--gray);
}

@media (max-width: 414px) {
  .title {
    font-size: 40px;
    font-weight: bold;
    color: var(--dark);
  }

  .subtitle {
    font-size: 24px;
    font-weight: bold;
    color: var(--primary);
  }

  .description {
    font-size: 24px;
    font-weight: normal;
    color: var(--gray);
  }
}
.button {
  width: 15.6rem;
  height: 5.6rem;
  border-radius: 10px;
  outline: none;
  border: 2px solid var(--primary);
  background: var(--primary);
  color: var(--white);
  font-size: 1.6rem;
  font-weight: bold;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.2);
  transition: 0.1s all ease-in-out;
}
.button:hover {
  background-color: transparent;
  color: var(--primary);
}

.phone-screen {
  padding: 1.6rem;
  border-radius: 40px;
  background: #dcdefe;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.2);
}
.phone-screen img {
  border-radius: 30px;
}/*# sourceMappingURL=style.css.map */