.phone-screen {
	padding: rem(16);
	border-radius: 40px;
	background: #dcdefe;

	width: max-content;
	height: max-content;

	box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.2);

	img {
		border-radius: 30px;
	}
}
