.title {
	font-size: 60px;
	font-weight: bold;
	color: var(--dark);
}

.subtitle {
	font-size: 24px;
	font-weight: bold;
	color: var(--primary);
}

.description {
	font-size: 24px;
	font-weight: normal;
	color: var(--gray);
}

@media (max-width: 768px) {
	.title {
		font-size: 32px;
		font-weight: bold;
		color: var(--dark);
	}

	.subtitle {
		font-size: 24px;
		font-weight: bold;
		color: var(--primary);
	}

	.description {
		font-size: 24px;
		font-weight: normal;
		color: var(--gray);
	}
}
